@font-face {
    font-family: "Abster";
    src: url("./assets/abster.otf");
}

body {
    background-color: whitesmoke;
}

header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Abster";
}

.header-left {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    margin-left: -10%;
}

.header-nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-left: -100%
}